<h1>Answer</h1>
<table>
        <tr>
                <td> iteration </td>
                <td> factorial </td>
                <td> number1 </td>
                <td> number2 </td>
                <td> number3 </td>

        </tr>
        <% @current_answers.each do |y|%>
                <tr>
                                <td> <%= y[:iteration] %> </td>
                                <td> <%= y[:factorial] %> </td>
                                <td> <%= (y[:number])-1 %> </td>
                                <td> <%= (y[:number]) %> </td>
                                <td> <%= (y[:number])+1 %> </td>    
                </tr>
        <% end %>
</table>

<%= link_to "Back to main", ind_main_url %>